body{
    background-color: $background-color;
    height: 100vh;
    max-width: 100vw;
    min-width: 250px;
}

.row h1{
    width: 100vw;
    text-align: center;
    color: $text-color;
    font-size: 34px;
}

.main__header-center{
    align-items: center;
    margin: 10%;
}