$font-primary: "open sans", sans-serif;

$primary-color:#C32C72;
$secondary-color: #F4F3EE;
$neutral-color: white;
$background-color: #E5E5E5;
$text-color: #463F3A;
$link: #8D8D8D;
$light: $secondary-color;